<!-- js/templates/crimes.hbs -->
       
        <div class="l-side">
            <h4>Category: {{category}}</h4>
            <h5>ID: {{id}} </h5>
            <p>Date of ocurrence: {{month}} </p>
        </div>
        <div class="r-side">
            <p>To date: {{outcome_status.date}} </p>
            <p>Crime is: {{outcome_status.category}} </p>
        </div>