<!-- js/templates/crimes.hbs -->
       
        <div class="l-side">
            <h4>Category: {{category}}</h4>
            <h4>Location Type: {{location_type}}</h4>
            <h5>ID: {{id}} </h5>
            <p>Context: {{context}}</p>
            <p>Month: {{month}} </p>
        </div>
        <div class="r-side">
            <h6>Outcome Status</h6>
            <p>Category: {{outcome_status.category}}</p>
            <p>Date: {{outcome_status.date}}</p>
            <hr />
            <h6>Location</h6>
            <p>Latitude: {{location.latitude}} </p>
            <p>Longitude: {{location.longitude}} </p>
            <hr />
            <h6>Street</h6>
            <p>ID: {{location.street.id}}</p>
            <p>Name: {{location.street.name}}</p>
        </div>